body{
padding:20px 20px;
}
  
.warning-no-result[visible='false'],
.no-result{
display:none;
}

.warning-no-result[visible='true']{
display:table-row;
}

.counter{
padding:8px; 
color:#ccc;
}

hr { display: block; height: 1px;
    border: 0; border-top: 2px solid #ccc;
    margin: 1em 0; padding: 0; }
